SITE_ID=example
DATA_ROOT=/opt/docker
PUID=1000
PGID=1000
TZ=Europe/Zurich
ANYSYNC_TAG=1.4.1-2026-03-25
ANYSYNC_EXTERNAL_ADDR=sync.example.com
ANYSYNC_TCP_PORT=33010
ANYSYNC_UDP_PORT=33020
ANYSYNC_SPACE_LIMIT_BYTES=10737418240
