SITE_ID=example
DATA_ROOT=/opt/docker
TECHNITIUM_TAG=latest
TECHNITIUM_HOSTNAME=dns-server
TECHNITIUM_DOMAIN=dns.example.com
DNS_PORT=53
DNS_TLS_PORT=853

# Store as a Dockhand secret.
DNS_SERVER_ADMIN_PASSWORD=
