SITE_ID=example
DATA_ROOT=/opt/docker
PUID=1000
PGID=1000
TZ=Europe/Zurich
SYNCTHING_TAG=latest
SYNCTHING_DOMAIN=syncthing.example.com
SYNCTHING_DATA_PATH=/opt/docker/syncthing/data
SYNCTHING_SYNC_PORT=22000
SYNCTHING_DISCOVERY_PORT=21027
PANGOLIN_SSO=false
