SITE_ID=example
DATA_ROOT=/opt/docker
PUID=1000
PGID=1000
TZ=Europe/Zurich
INBUCKET_TAG=latest
INBUCKET_DOMAIN=mail.example.com
INBUCKET_SMTP_PORT=2500
INBUCKET_POP3_PORT=1100
INBUCKET_RETENTION_PERIOD=72h
PANGOLIN_SSO=false
